
//Colors
$charcoal:              #484848;
$dark-gray:             #A4A4A4;
$pink-swan:             #B2B2B2;
$grey:                  #777777;
$white:                 #FFFFFF;
$mango-tango:           #EF6D00;
$chocolate:             #CB650F;
$nobel:                 #9B9B9B;
$black:                 #000000;

//medias
$screen-md:             1280px;
$screen-sm:             768px;
$screen-xs:             375px;
$screen-max:            1140px;

//Class

$class-slug: post-thumb !default;