
//Colors
$charcoal:              #484848;
$dark-gray:             #A4A4A4;
$pink-swan:             #B2B2B2;
$grey:                  #777777;
$white:                 #FFFFFF;
$mango-tango:           #EF6D00;

//medias
$screen-md:             1280px;
$screen-sm:             768px;
$screen-xs:             375px;
$screen-max:            1140px;